@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.whatsapp-ads-floating {
  font-family: "Poppins", sans-serif;
}
.input-control {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0 0 20px;
}
.input-chat {
  margin: 0 auto;
  max-width: 400px;
}
a.button-green,
a.button-green:visited {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 0 20px;
  font-size: 16px;
  display: inline-block;
}
.disable {
  pointer-events: none;
  background-color: #999999;
  border: 1px solid #999999;
}
.enable {
  background-color: #00a952;
  border: 1px solid #00a952;
}

.whatsapp-ads-floating {
  position: fixed;
  bottom: 55px;
  right: 7px;
  z-index: 999;
  background: #25d366;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 7px 20px;
  cursor: pointer;
}
.whatsapp-ads-floating svg {
  margin-top: -4px;
}
.whatsapp-ads-floating a {
  color: #fff !important;
  text-decoration: none;
}
.whatsapp-ads-floating a:hover {
  color: #fff;
}
.whatsapp-ads-floating:hover {
  background-color: #157347;
}
.floating-footer .whatsapp-floating {
  display: none !important;
}
