.input-control {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0 0 20px;
}
.input-chat {
  margin: 0 auto;
  max-width: 400px;
}
a.button-green,
a.button-green:visited {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 0 20px;
  font-size: 16px;
  display: inline-block;
}
.disable {
  pointer-events: none;
  background-color: #999999;
  border: 1px solid #999999;
}
.enable {
  background-color: #00a952;
  border: 1px solid #00a952;
}
